:root { 
--gray_700:#555555; 
--white_A700_a2:#ffffffa2; 
--indigo_A200:#7575f0; 
--indigo_A100:#9191ff; 
--green_A200:#75f094; 
--cyan_200:#75f0f0; 
--bluegray_900:#1b2250; 
--white_A700_87:#ffffff87; 
--pink_A100:#f075c7; 
--black_900_00:#00000000; 
--black_900_99:#00000099; 
--black_900:#000000; 
--blue_300:#75b2f0; 
--deep_purple_A100:#b275f0; 
--pink_300:#f0758a; 
--white_A700:#ffffff; 
}